@font-face {
    font-family: pp;
    src: url('/fonts/pp.otf');
}
.outer {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: rgb(22, 22, 22);
    width: 45vw;
    height: 20vw;
    /* border: 1px solid rgb(255, 255, 255); */
    margin: 5vw;
    position: relative;
    overflow: hidden;
}
.title {
    font-family: pp;
    display:flex;
    font-size: 2vw;
    padding: 1vw 25vw 2vw 1.5vw;
    color: rgb(255, 255, 255);
    
}
.title:hover {
    text-decoration: underline;
}
.description {
    font-family: pp;
    display: flex;
    font-size: 1.2vw;
    padding: 0vw 25vw 2vw 1.5vw;
    color: rgb(255, 255, 255);
}
.tagbox {
    box-sizing: border-box;
    width: 20vw;
    height: 20vw;
    /* background-color: grey;  */
    display: flex;
    padding: 0vw 1vw 1vw 1.3vw;
}
.picture {
    background-color: rgb(0, 0, 0);
    /* background-image: url("/images/unicorn.png"); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25vw;
    height: 20vw;
    position: absolute;
    transform: translateX(80%);
    overflow: hidden;
}
.tag {
    font-family: pp;
    flex: 0 0 auto; 
    background-color: #000000; 
    color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 2.3vw;
    min-width: 5.3vw;
    padding: 0 10px;

    border-radius: 8px; 
    overflow: hidden; 
    font-size: 1.2vw; 
    text-align: center;
    line-height: 1;
    margin: 0.2vw;
  }
.outer:hover {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.item-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  .item-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 500ms, transform 500ms;
  }