@font-face {
    font-family: Evafiya;
    src: url('/fonts/Evafiya.ttf');
}

body {
    background-size: contain;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center center;
    background-image: url('../../images/index_background.png');
    background-size: 100% 100vh ;
    background-position: translateY(-10vh);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0;
    margin: 0;

}

.sections ul{
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100vw;
    height: 100vh;
    
    font-family: Evafiya;
    font-size: 2vw;
    z-index: 100;
    list-style-type: none;
}

.items {
    color: black;
}
.items:hover {
    color: red;
}