---
import '../styles/temp_index.css';
import HoverComponents from '../components/hover_animation.jsx';
---

<!-- UNFINISHED -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan Dong's Portfolio</title>

</head>
<body>
    <div class="sections">
        
        <ul>
            <li>
                <a class="items" href="/technical">
                    <HoverComponents 
                    message="Technical" 
                    startFrame={0} 
                    frameRate={60} 
                    endFrame={47} 
                    directory="https://ryan-dong-portfolio-bucket.s3.us-east-2.amazonaws.com/images/technical/anim" 
                    client:load 
                    />
                </a>
            </li>
            <li><a class="items" href="/about-me"> <HoverComponents message="About Me" startFrame=0 frameRate=60 endFrame=80 directory="https://ryan-dong-portfolio-bucket.s3.us-east-2.amazonaws.com/images/aboutme/anim" client:load /></a></li>
            <li><a class="items" href="/creative"><HoverComponents message="Creative" startFrame=0 frameRate=60 endFrame=44 directory="https://ryan-dong-portfolio-bucket.s3.us-east-2.amazonaws.com/images/test/hover1" client:load /></a></li>    
        </ul>
        </div>
</body>
</html>
