---
import '../styles/index_style.css';
import HoverComponents from '../components/hover_animation.jsx';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan Dong's Portfolio</title>

</head>
<body>
    <div class="title">
        Ryan Dong
    </div>
    <div class="sections">
	    <HoverComponents message="About Me" startFrame=0 frameRate=60 endFrame=80 directory="https://ryan-dong-portfolio-bucket.s3.us-east-2.amazonaws.com/images/aboutme/anim" client:load />
        <HoverComponents message="Technical" startFrame=0 frameRate=60 endFrame=47 directory="https://ryan-dong-portfolio-bucket.s3.us-east-2.amazonaws.com/images/technical/anim" client:load />
        <HoverComponents message="Creative" startFrame=0 frameRate=60 endFrame=44 directory="https://ryan-dong-portfolio-bucket.s3.us-east-2.amazonaws.com/images/test/hover1" client:load />
    </div>
</body>
</html>
