---
import Navbar from '../components/navbar'
import ProjectContainer from '../components/project_box'
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan Dong's Portfolio</title>

</head>
<body>
    <Navbar />
    <ProjectContainer 
    title="test" 
    description="this is a test description for the test project in the technical category"
    />
</body>
</html>
